<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mvc-test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E64C27591E6C1E34006E54C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E64C276D1E6C1E34006E54C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E64C27781E6C1E34006E54C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
